.cards-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}
.cards-container > h1{
    font-size: 18px;
    width: 80%;
    margin: auto;
    color: rgba(74, 74, 74, 0.878);
}

.cards-section{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    flex-wrap:wrap;
}


.cards-section > .notes-input-section{
    width: 250px;
    box-shadow: none;
    border: 1px solid gray;
    cursor: pointer;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.cards-section > .notes-input-section:hover{
    box-shadow: 1.5px 1.5px 2px 2px rgb(180, 180, 180);
}

.cards-section  .notes-pin-icon-container{
    /* display: none; */
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.cards-section .notes-last-input-row{
    position: absolute;
    bottom: -10px;
    opacity: 0;
}

.cards-section .notes-input-option-icon-container{
    transition: all 0.3s ease-in-out;
    
}

.cards-section > .notes-input-section:hover .notes-last-input-row{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.cards-section > .notes-input-section:hover .notes-pin-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    height: 40px;
    width: 40px;
    cursor: pointer;
}


.cards-section .notes-title-input{
    margin: 0;
}

.cards-section .notes-message-input{
    margin-top: 0;
}