/* Editable input card styling */
.notes-input-section-editable-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #646464b2;
    z-index: 20;
}

.notes-input-section-editable-container > .notes-input-section{
    background: #fff;
    box-shadow: none;
    opacity: 1;
    z-index: 22;
    transition: all 0.3s ease-out;
}

.notes-input-section-editable-container > .notes-input-section .notes-last-input-row{
    position: relative;
    opacity: 1;
}

.notes-input-section-editable-container > .notes-input-section .notes-pin-icon-container{
    opacity: 1;
}

.notes-input-section-editable-container .notes-last-input-row-close-button{
    z-index: 25;
    position: absolute;
    right: 400px;
    top: 230px;
    background: lightgray;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------- */


/* Normal input Card Stylings */
.notes-input-section{
    width: 45%;
    box-shadow: 1.5px 1.5px 2px 2px rgb(180, 180, 180);
    margin-top: 30px;
    padding: 0 25px;
    border-radius: 6px;
    position: relative;
    height: fit-content;
}


.notes-first-input-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.notes-title-input{
    width: 90%;
    padding: 7px 0;
    font-size: 18px;
    border: none;
    outline: none;
    word-wrap: break-word;
}

.notes-pin-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}

.notes-pin-icon-container:hover{
    background: lightgray;
    border-radius: 50%;
}

.notes-message-input{
    width: 90%;
    padding: 6px 0;
    font-size: 16px;
    resize: none;
    border: none;
    outline: none;
    margin-top: 10px;
    word-wrap: break-word;
}

.notes-last-input-row{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    margin-right: 20px;
}

.notes-input-options{
    display: flex;
    justify-content: space-between;
}

.notes-input-option-icon-container{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.notes-input-option-icon-container:hover{
    background: lightgray;
    border-radius: 50%;
}

.notes-last-input-row-close-button{
    cursor: pointer;
    padding: 0px 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.notes-last-input-row-close-button:hover{
    background: lightgray;
}

.notes-add-badge-button-container{
    cursor: pointer;
    position: absolute;
    bottom: -15px;
    right: 0px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #42b883;
    border-radius: 50%;
    color: white;
}